
*{
    margin:0;
    padding:0;
}

body {
    color:white;
    overflow-x: hidden;
    position:relative;
    width:100vw;
    height:50vh;
    
}



.hero-section {
    background-image: url(../Images/Image20250129194651.jpg);
    height: 120vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size:cover;
    position: static;
    
    
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    opacity: 60%;
    background-image: url(/Images/360_F_98593539_L3cNIqMZT511Qoz2DXe31xBAqMqPYdGj.jpg);

}

#Sec1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
li a{
    text-decoration: none;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#icon {
    width:125px
}

button {
    background-color:skyblue;
    border-style: solid;
    border-color: navy;
    border-width: 2px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#Sec2 {
    position:relative;
    
}

article {
    background-image: url(/Images/360_F_98593539_L3cNIqMZT511Qoz2DXe31xBAqMqPYdGj.jpg);
    width:fit-content;
    opacity: 70%;
    border-radius: 16px;
    position: relative;
    left: 75px;
    top: 150px;
    padding: 15px;
}

footer{
    background-color: navy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
}

a:link {
    color:white;
}

a:hover {
    color: navy;
}

a:active {
    color: red;
}

